* {
  border: 'none';
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  font-feature-settings: 'optimizeLegibility';
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
  /* -webkit-tap-highlight-color: transparent; */
  -mox-osx-tap-highlight-color: transparent;
  white-space: 'normal';
}

*,
*::before,
*::after {
  /* border-color: var(--neutral-rgb); */
  box-sizing: 'border-box';
  word-wrap: 'break-word';
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  position: relative;
  font-size: 1.5rem;
  line-height: 2;
  text-rendering: 'optimizeLegibility';
  -webkit-text-size-adjust: 'none';
  -moz-text-size-adjust: 'none';
  -ms-text-size-adjust: 'none';
  -o-text-size-adjust: 'none';
  text-size-adjust: 'none';
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
}

#__next,
#root,
main {
  min-height: 100vh;
  width: 100%;
}
