@import './custom-reset.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
  :root {
    /* light */
    /* #000 */
    --rgb-foreground: 0 0 0;
    /* #777 */
    --rgb-foreground-focused: 119 119 119;
    /* #999 */
    --rgb-foreground-muted: 153 153 153;
    /* #f5f5f5 */
    --rgb-background: 245 245 245;
    /* #ddd */
    --rgb-background-muted: 221 221 221;
    /* #eee */
    --rgb-background-focused: 238 238 238;
    /* #00d5d5 */
    --rgb-primary: 0 213 213;
    /* #0080cc */
    --rgb-primary-focused: 0 128 204;
    /* #154d66 */
    --rgb-primary-muted: 21 77 102;
    /* #546e78 */
    --rgb-secondary: 84 110 120;
    /* #39484d */
    --rgb-secondary-focused: 57 72 77;
    /* #a2a9ad */
    --rgb-secondary-muted: 162 169 173;
    /* #9f9f9f */
    --rgb-neutral: 159 159 159;
    /* #7f7f7f */
    --rgb-neutral-focused: 127 127 127;
    /* #aaaaaa */
    --rgb-neutral-muted: 170 170 170;
    /* #ff6666 */
    --rgb-error: 255 102 102;
    /* #ff0000 */
    --rgb-error-focused: 255 0 0;
    /* #883333 */
    --rgb-error-muted: 136 51 51;
    /* #66cc66 */
    --rgb-success: 102 204 102;
    /* #2e8542 */
    --rgb-success-focused: 46 133 66;
    /* #97d797 */
    --rgb-success-muted: 151 215 151;
    /* #66a6cc */
    --rgb-info: 102 166 204;
    /* #3a6b8a */
    --rgb-info-focused: 58 107 138;
    /* #92c2e3 */
    --rgb-info-muted: 146 194 227;
    /* #ffc04d */
    --rgb-warning: 255 192 77;
    /* #e69d00 */
    --rgb-warning-focused: 230 157 0;
    /* #fdc97f */
    --rgb-warning-muted: 253 201 127;

    --shdw-nums: 255, 255, 255;
    /* ----- unused----- */
    --x-shdw-x: 2px;
    --x-shdw-y: -2px;
    --x-shdw-blur: 4px;
    --x-shdw-spread: 0px;
    --x-shdw: var(--x-shdw-x) var(--x-shdw-y) var(--x-shdw-blur)
      var(--x-shdw-spread) var(--shdw-rgba);
    /* ----- unused----- */

    --bg: rgb(var(--rgb-background));
    --text: rgb(var(--rgb-foreground));
    --btn-text: var(--text);
    --btn-bg: var(--bg);
    --btn-bg-focus: rgb(var(--rgb-foreground-focused));
    --btn-bg-muted: rgb(var(--rgb-foreground-muted));
  }

  .dark {
    /* #f5f5f5 */
    --rgb-foreground: 245 245 245;
    /* #ccc */
    --rgb-foreground-focused: 204 204 204;
    /* #999 */
    --rgb-foreground-muted: 153 153 153;
    /* #333 */
    --rgb-background: 51 51 51;
    /* #555 */
    --rgb-background-muted: 85 85 85;
    /* #444 */
    --rgb-background-focused: 68 68 68;
    /* #02f2f2 */
    --rgb-primary: 2 82 242;
    /* #0056b3 */
    --rgb-primary-focused: 0 86 179;
    /* #163966 */
    --rgb-primary-muted: 22 57 102;
    /* #b0bec5 */
    --rgb-secondary: 176 190 197;
    /* #8d9ca1 */
    --rgb-secondary-focused: 141 156 161;
    /* #445056 */
    --rgb-secondary-muted: 68 80 86;
    /* #808080 */
    --rgb-neutral: 128 128 128;
    /* #a0a0a0 */
    --rgb-neutral-focused: 160 160 160;
    /* #555555 */
    --rgb-neutral-muted: 85 85 85;
    /* #ff4444 */
    --rgb-error: 255 68 68;
    /* #ff0000 */
    --rgb-error-focused: 255 0 0;
    /* #884848 */
    --rgb-error-muted: 136 72 72;
    /* #66cc66 */
    --rgb-success: 102 204 102;
    /* #2e8542 */
    --rgb-success-focused: 46 133 66;
    /* #97d797 */
    --rgb-success-muted: 151 215 151;
    /* #4db8cc */
    --rgb-info: 77 184 204;
    /* #378a9e */
    --rgb-info-focused: 55 138 158;
    /* #9cdde3 */
    --rgb-info-muted: 156 221 227;
    /* #ffbb33 */
    --rgb-warning: 255 187 51;
    /* #e6a800 */
    --rgb-warning-focused: 230 168 0;
    /* #fddc97 */
    --rgb-warning-muted: 253 220 151;
  }
}

@layer components {
  .aftr-shdw::after {
    content: ' ';
    display: block;
    clear: both;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: theme('borderRadius.md');
    box-shadow: 2px -2px 4px rgba(var(--shdw-nums), var(--shdw-opacity)),
      -2px 2px 4px rgba(var(--shdw-nums), var(--shdw-opacity));
    transition: box-shadow 0.2s ease-in-out;
  }
  .aftr-shdw:hover::after {
    transition: box-shadow 0.3s ease-in-out;
  }

  .prose a {
    font-size: 0.95rem;
  }

  .primary {
    --bg: rgb(var(--rgb-primary));
    --text: rgb(var(--rgb-foreground));
    --btn-bg: var(--bg);
    --btn-bg-focus: rgb(var(--rgb-primary-focused));
    --btn-bg-muted: rgb(var(--rgb-primary-muted));
    --btn-text: var(--text);
  }
  .secondary {
    --bg: rgb(var(--rgb-secondary));
    --text: rgb(var(--rgb-foreground));
    --btn-bg: var(--bg);
    --btn-bg-focus: rgb(var(--rgb-secondary-focused));
    --btn-bg-muted: rgb(var(--rgb-secondary-muted));
    --btn-text: var(--text);
  }

  .btn {
    @apply inline-block cursor-pointer rounded-md border-transparent bg-[var(--btn-bg)] px-4 py-2 text-center text-base text-[var(--btn-text)] no-underline shadow-md transition-all duration-300 ease-in;
  }

  .btn:hover {
    @apply bg-[var(--btn-bg-focused)];
  }

  .btn:active {
    @apply bg-[var(--btn-bg-muted)];
    /* translate-y-1 */
  }

  .btn:focus {
    @apply focus:outline-none;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-60;
  }

  .btn-ghost {
    @apply border border-black-alpha-100 bg-black-alpha-100 text-[var(--text)] transition-all duration-300 ease-in dark:border-white-alpha-100 dark:bg-white-alpha-100;
  }

  .btn-ghost:hover {
    @apply bg-black-alpha-500 dark:bg-white-alpha-500;
  }
  .btn-ghost:focus {
    @apply focus:outline-none;
  }
  .btn-ghost:active {
    @apply border-none;
  }
  .btn-outline {
    @apply border border-white-alpha-600 bg-transparent text-[var(--text)] transition-all duration-300 ease-in;
  }

  .btn-outline:hover {
    @apply border border-white;
  }

  .btn-outline:active {
    @apply border border-white-alpha-400;
  }
  .btn-round {
    @apply rounded-full py-5;
  }
  .btn-square {
    @apply px-2 py-2;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-responsive {
    @apply flex flex-col md:h-screen md:w-full md:flex-row;
  }
  .flex-responsive-invert {
    @apply flex flex-row md:h-screen md:w-full md:flex-col;
  }
  .flex-responsive-full {
    @apply flex h-screen w-full flex-col md:h-screen md:w-full md:flex-row;
  }
  .flex-responsive-full-invert {
    @apply flex h-screen w-full flex-row md:h-screen md:w-full md:flex-col;
  }
}
