@import './custom-reset.css';

@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
  :root {
    /* light */
    --background-hsl: 210 20% 98.04%; /* #FCFCFD */

    --foreground-hsl: 224 71.43% 4.12%; /* #030712 */
    --foreground-invert-hsl: 210 20% 98.04%; /* #FCFCFD */

    --primary-hsl: 217 91.22% 59.8%; /* #3B82F6 */
    --secondary-hsl: 239 83.53% 66.67%; /* #6366F1 */
    --accent-hsl: 160 84.08% 39.41%; /* #10B981 */
    --success-hsl: 173 80.39% 40%; /* #14B8A6 */
    --destructive-hsl: 0 84.24% 60.2%; /* #EF4444 */
    --warning-hsl: 38 92.13% 50.2%; /* #F59E0B */
    --info-hsl: 189 94.5% 42.75%; /* #0E7490 */

    --bg-alpha: 1;
    --muted: 0.3;
    --focus: 0.7;
    --color: var(--background-hsl);
    --bg: hsl(var(--color), var(--bg-alpha));
    --bg-muted: hsl(var(--background-hsl) / var(--muted));
    --bg-focus: hsl(var(--background-hsl) / var(--focus));
    --text: hsl(var(--foreground-hsl));
    --text-muted: hsl(var(--foreground-hsl) / var(--muted));
    --text-focus: hsl(var(--foreground-hsl) / var(--focus));
    --text-invert: hsl(var(--foreground-invert-hsl));

    /* --popover: var(--bg-muted); */
    --popover: hsl(var(--color) / var(--muted));
    --popover-foreground: var(--text-muted);

    --card: var(--bg-focus);
    --card-foreground: var(--text-focus);

    --border: theme('colors.gray.300');
    --input: theme('colors.gray.300');
    --ring: theme('colors.slate.400');

    --radius: 0.5rem;

    --shdw-nums-rgb: 255 255 255;
    --shdw-nums: rgba(var(--shdw-nums-rgb), 0.5);
    --shdw-color: var(--shdw-nums);
    /* ----- unused----- */
    --x-shdw-x: 2px;
    --x-shdw-y: -2px;
    --x-shdw-blur: 4px;
    --x-shdw-spread: 0px;
    --x-shdw: var(--x-shdw-x) var(--x-shdw-y) var(--x-shdw-blur)
      var(--x-shdw-spread) var(--shdw-color);
    /* ----- unused----- */

    --prepend: initial; /* @SEE: #eojJFdO quickly add pseudo content to any element */
  }

  .dark {
    --background-hsl: 224 71.43% 4.12%;

    --foreground-hsl: 210 20% 98.04%;
    --foreground-invert-hsl: 224 71.43% 4.12%;

    --primary-hsl: 224 76.33% 48.04%;
    --secondary-hsl: 245 57.94% 50.59%;
    --accent-hsl: 163 93.55% 24.31%;
    --success-hsl: 163 93.55% 24.31%;
    --destructive-hsl: 0 73.71% 41.76%;
    --warning-hsl: 26 90.48% 37.06%;
    --info-hsl: 193 82.28% 30.98%;

    --border: theme('colors.gray.800');
    --input: theme('colors.gray.800');
    --ring: theme('colors.slate.300');

    --bg-alpha: 1;
    --muted: 0.3;
    --focus: 0.7;
    --color: var(--background-hsl);
    --bg: hsl(var(--color), var(--bg-alpha));
    --bg-muted: hsl(var(--background-hsl) / var(--muted));
    --bg-focus: hsl(var(--background-hsl) / var(--focus));
    --text: hsl(var(--foreground-hsl));
    --text-muted: hsl(var(--foreground-hsl) / var(--muted));
    --text-focus: hsl(var(--foreground-hsl) / var(--focus));
    --text-invert: hsl(var(--foreground-invert-hsl));

    --shdw-nums: 0 0 0;
    --shdw-rgba: rgba(var(--shdw-nums), 0.5);
    --shdw-color: var(--shdw-rgba);
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif; /* @FIXME:  this is a hack, cannot get inter to work with shadcn/ui */
  }

  .bg {
    @apply bg-[var(--bg)] text-[var(--text)] disabled:bg-[var(--muted-bg)] disabled:text-[var(--muted-text)];
  }

  .muted {
    --bg-alpha: var(--muted);
  }

  .bg:focus,
  .btn:disabled {
    @apply focus:bg-[var(--focus-bg)] focus:text-[var(--focus-text)] focus:outline-none;
  }
  .bg:disabled,
  .btn:disabled {
    --muted: 0.7;
    @apply cursor-not-allowed opacity-60 disabled:bg-[var(--muted-bg)] disabled:text-[var(--text)];
  }

  .default {
    --color: var(--foreground-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--background-hsl));

    --focus-text: hsl(var(--background-hsl) / var(--focus));
    /* --focus-bg: hsl(var(--color) / var(--focus)); */
    --focus-bg: var(--bg-focus);

    --muted-text: hsl(var(--background-hsl) / var(--muted));
    /* --muted-bg: hsl(var(--color) / var(--muted)); */
    --muted-bg: var(--bg-muted);
  }

  .primary {
    --color: var(--primary-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--primary-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .secondary {
    --color: var(--secondary-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--secondary-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .accent {
    --color: var(--accent-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--accent-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .destructive {
    --color: var(--destructive-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--destructive-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .success {
    --color: var(--success-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--success-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .warning {
    --color: var(--warning-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--warning-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }

  .info {
    --color: var(--info-hsl);
    --bg: hsl(var(--color) / var(--bg-alpha));
    --text: hsl(var(--foreground-hsl), var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--info-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / var(--muted));
  }
  .alpha {
    --color: var(--foreground-hsl);
    --bg: hsl(var(--color) / 0.2);
    --text: hsl(var(--color) / var(--fg-alpha));

    --focus-text: hsl(var(--foreground-hsl) / var(--focus));
    --focus-bg: hsl(var(--color) / var(--focus));

    --muted-text: hsl(var(--foreground-hsl) / var(--muted));
    --muted-bg: hsl(var(--color) / 0.02);
  }

  .foreground {
    --text: var(--foreground);
    --shdw-color: var(--text);
    /* --btn-text: var(--text); */
    @apply border-[var(--text)] text-[var(--text)] shadow-[var(--x-shdw)];
  }

  .invert:hover {
    --text: hsl(var(--foreground-invert-hsl));
  }
}

@layer components {
  .aftr-shdw::after {
    content: ' ';
    display: block;
    clear: both;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: theme('borderRadius.md');
    box-shadow: 2px -2px 4px rgba(var(--shdw-nums), var(--shdw-opacity)),
      -2px 2px 4px rgba(var(--shdw-nums), var(--shdw-opacity));
    transition: box-shadow 0.2s ease-in-out;
  }
  .aftr-shdw:hover::after {
    transition: box-shadow 0.3s ease-in-out;
  }

  .prose a {
    font-size: 0.95rem;
  }

  .btn {
    @apply inline-block cursor-pointer rounded-md border-transparent px-4 py-2 text-center no-underline transition-all duration-300 ease-in;
  }

  .btn:hover {
    @apply bg-[var(--focus-bg)] text-[var(--focus-text)];
  }

  .btn-ghost {
    --bg: hsl(var(--color) / 0.02);
    --border: hsl(var(--color) / 0.1);
    @apply border border-[var(--border)] bg-[var(--bg)] text-[var(--text)] transition-all duration-300 ease-in;
  }

  .btn-ghost:hover {
    @apply bg-[var(--bg)];
  }
  .btn-ghost:active {
    @apply border-none;
  }
  .btn-ghost:focus {
    --bg: transparent;
    @apply bg-[var(--bg)];
  }
  .btn-outline {
    /* --text: ; */
    @apply border border-[var(--bg)] bg-transparent text-[var(--bg)] transition-all duration-300 ease-in;
  }

  .btn-outline:hover {
    @apply bg-transparent text-[var(--bg)] opacity-60 shadow-[var(--bg)];
  }

  .btn-outline:active {
    @apply border border-[var(--bg)];
  }
  /* .btn-outline:focus {
    @apply border border-[var(--bg)] bg-transparent text-[var(--bg)];
  } */
  .btn-round {
    @apply rounded-full py-5;
  }
  .btn-square {
    @apply px-2 py-2;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-responsive {
    @apply flex flex-col md:h-screen md:w-full md:flex-row;
  }
  .flex-responsive-invert {
    @apply flex flex-row md:h-screen md:w-full md:flex-col;
  }
  .flex-responsive-full {
    @apply flex h-screen w-full flex-col md:h-screen md:w-full md:flex-row;
  }
  .flex-responsive-full-invert {
    @apply flex h-screen w-full flex-row md:h-screen md:w-full md:flex-col;
  }
}
